.novel_list_index
  %h1.text-center
    小説一覧
  .novels.m-0-auto
    .row
      - @novel_lists.each do |novel_list|
        .novel
          = link_to novel_list do
            %p.title
              = novel_list.title
            .text
              = simple_format(novel_list.novels.order(number: :asc).first.text.truncate(100))
            .user
              = image_tag novel_list.user.image
              %p{class: 'name'}
                = novel_list.user.name
          / %td= link_to 'Edit', edit_novel_list_path(novel_list)
          / %td= link_to 'Destroy', novel_list, method: :delete, data: { confirm: 'Are you sure?' }
  .text-center.my-2
    = link_to 'タイトル登録', new_novel_list_path, class: 'btn btn-primary'
