</div>
.novel_list_show
  .container
    %h1.text-center
      = @novel_list.title
    .thumbnail.text-center
      - if @novel_list.thumbnail.present?
        = image_tag @novel_list.thumbnail.variant(resize_to_limit: [500, 500])
    .novels.m-0-auto
      .selected
        - @novel_list.novels.where(selected: true).order(number: :asc).each do |novel|
          .novel
            %p
              = simple_format(sanitize(novel.text, tags: %w(p br)))
              .user
                = image_tag novel.user.image
                %p
                  = novel.user.name
  .container.form_area.text-center
    #form
      = form_with(url: novels_path, local: true, method: :post) do |form|
        .field
          = form.label 'テキスト'
          = form.text_area 'novel[text]', class: 'form-control col-12', onkeyup: "document.getElementById('characnt').value=200 - this.value.length"
          %input{type:"text", id: "characnt", disabled: "disabled"}
        = form.hidden_field 'novel[novel_list_id]', value: @novel_list.id
        .actions.text-right.col-xs-12.col-sm-10.col-md-10.col-lg-8
        = form.submit '投稿', class: 'btn btn-primary'
    %button{class: 'btn btn-primary', id: 'nextButton', onclick: 'nextClick()'}
      続きを書く
  - if @latest
    .new_area
      .swiper-container
        .swiper-wrapper
          - @novel_list.novels.where(selected: false).where(number: @max_number).each do |novel|
            .swiper-slide
              .novel
                %p
                  = simple_format(sanitize(novel.text, tags: %w(p br)))
                = render 'novels/like', novel: novel
                .user
                  = image_tag novel.user.image
                  %p
                    = novel.user.name
                - if user_signed_in? && @novel_list.user_id == current_user.id
                  .text-right
                    = link_to '選ぶ', selected_novel_path(novel.id), data: { confirm: "これを選んでいいですか？" }, class: 'btn btn-success'
                    = link_to '削除', novel_path(novel.id), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: 'btn btn-danger'
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
:javascript
  $(document).ready(function () {
    //initialize swiper when document ready
    var mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      loop: false,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
        renderFraction: function (currentClass, totalClass) {
          return '<span class="' + currentClass + '"></span>' + ' / ' + '<span class="' + totalClass + '"></span>';
        }
      },
    })
  });

  function nextClick() {
    $('#form').css('display','inline-block');
    $('#nextButton').css('display','none');
  }
:css
  .swiper-container {
    width: 100%;
    max-width: 600px;
    minheight: 300px;
  }

%script{:src => "https://unpkg.com/swiper/js/swiper.min.js"}
