.user_show
  = link_to '名前変更', edit_user_path(current_user.id), class: 'btn btn-primary'

  %p 通知
  .all_delete.my-2
    = link_to '通知を全て削除', all_delete_notifications_path, data: { confirm: "全て削除してよろしいですか？" }, class: 'btn btn-danger'
  - @user.notifications.where(checked: false).order(created_at: :desc).each do |notification|
    - if notification.text_pattern == 0
      .notification{:id => "notification#{notification.id}"}
        .left_area
          = link_to novel_list_path(notification.novel_list) do
            .description
              .notification_user
                = image_tag notification.post_user.image
                %p
                  = notification.post_user.name
                  %span{class: 'black'} さんが 
              %span{class: 'blue'}
                = notification.novel_list.title
              %span{class: 'black'} に書き込みました
            .time
              %span{class: 'black'}
                = notification.created_at.strftime('%Y/%m/%d %H:%M:%S')
        .right_area
          .thumbnail.px-2
            - if notification.novel_list.thumbnail.present?
              = link_to novel_list_path(notification.novel_list) do
                = image_tag notification.novel_list.thumbnail.variant(resize_to_limit: [200, 100])
          = link_to '削除', notification_path(notification.id), method: :delete, remote: true, class: 'btn btn-danger'