%p#notice= notice
%h1 Novels
%table
  %thead
    %tr
      %th Title
      %th Text
      %th User
      %th{:colspan => "3"}
  %tbody
    - @novels.each do |novel|
      %tr
        %td= novel.title
        %td= novel.text
        %td= novel.user_id
        %td= link_to 'Show', novel
        %td= link_to 'Edit', edit_novel_path(novel)
        %td= link_to 'Destroy', novel, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Novel', new_novel_path
