!!!
%html{:lang => "ja"}
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VoisinStory
    %script{:crossorigin => "anonymous", :integrity => "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", :src => "https://code.jquery.com/jquery-3.4.1.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    / bootstrap
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    /swiper
    %link{:href => "https://unpkg.com/swiper/css/swiper.min.css", :rel => "stylesheet"}/
    - if controller.controller_name == 'novel_list' && controller.action_name == 'show'
      %meta{:content => "#{@novel_list.title}", :property => "og:title"}/
      %meta{:content => "article", :property => "og:type"}/
      %meta{:content => "#{@novel_list.novels[0].text}", :property => "og:description"}/
      %meta{:content => "#{request.url}", :property => "og:url"}/
      %meta{:content => "#{@novel_list.image}", :property => "og:image"}/
    - else
      %meta{:content => "VosinStory", :property => "og:title"}/
      %meta{:content => "website", :property => "og:type"}/
      %meta{:content => "みんなでつなげて続きを選ぶ小説サイト", :property => "og:description"}/
      %meta{:content => "#{request.url}", :property => "og:url"}/
      %meta{:content => "#{ENV['SITE_URL']}/#{image_path('ogp_img.jpg')}", :property => "og:image"}/
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light#navbar
      = link_to root_path, class: 'navbar-brand py-0' do
        = image_tag 'https://placehold.it/150x40/?text=SiteLogo', class: 'logo'
      .logo_offset
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
        %ul.navbar-nav
          -if user_signed_in?
            %li.nav-item
              = link_to edit_user_path(current_user.id) do
                .user
                  = image_tag current_user.image
                  %p
                    = current_user.name
            %li.nav-item
              = link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
          - else
            %li.nav-item
              = link_to 'ログイン', new_user_session_path, class: 'nav-link'
    .wrapper
      .container#contents
        = yield
      .footer
